<app-header></app-header>

<div class="checkout-wrapper container">
  <h2>Order Summary</h2>
  <hr>
  <div class="order">
    <div class="menu-box">
      <div class="menu-header">
        {{"menu.name"}}
      </div>
      <div class="menu-body">
        <div class="menu-img">
          <img src="assets/food/1.jpg" height="180px" width="160px" alt="">
        </div>
        <div class="menu-items">
          <ul class="item-list">
            <li class="item">
              <p>{{"item.name"}}</p>
              <span>{{"item.description"}}</span>
              <hr>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-footer">

      </div>
    </div>
  </div>
</div>
