body{
  font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
}

.sign-in-modal{
  width: 380px;
  .sign-in-title{
    text-align: center;
  }
  .close{
    position: absolute;
    right: 20px;
    top: 15px;
  }
  .sign-in-full-width{
    width: 100%;
  }
  .otp-field{
    width: 100%;
    .mat-form-field-wrapper{
      width: 150px;
    }
  }
  .send-otp{
    width: 100%;
    background: green;
    color: #fff;
    outline: none;
  }
  .or-divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    &::after, &::before{
      content: "";
      width: 100px;
      border: 1px solid #5c5c5c;
      margin: 0 10px;
      display: block;
    }
  }

  .fb-login-btn, .google-login-btn{
    width: 100%;
    height: 40px;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
  }

  .fb-login-btn{
    border-color: #4266b2;
    color: #4266b2;
  }

  .google-login-btn{
    border-color: #eb4235;
    color:#eb4235;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color:green;
  }
  .mat-form-field.mat-focused .mat-form-field-label{
    color: green;
  }
}